<mat-toolbar color="primary" class="page-header" role="header">
  <nav class="page-header-nav">
    <a href="" class="page-header-nav__link" mat-button>
      <span class="txt">Link-1</span>
    </a>
    <a href="" class="page-header-nav__link" mat-button>
      <span class="txt">Link-2</span>
    </a>
    <a href="" class="page-header-nav__link" mat-button>
      <span class="txt">Link-3</span>
    </a>
    <a href="" class="page-header-nav__link" mat-button>
      <span class="txt">Link-4</span>
    </a>
    <a href="" class="page-header-nav__link" mat-button>
      <span class="txt">Link-5</span>
    </a>
  </nav>
</mat-toolbar>

<mat-sidenav-container class="page-content">
  <mat-sidenav-content>
    <app-film-card></app-film-card>
  </mat-sidenav-content>
</mat-sidenav-container>
